@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-primary: #474747;
    --color-secundary: #919191;
    --color-font-menu: #fff;
    --color-font-hover: gray;
    --color-resultado: rgba(197, 197, 197, 0.103);
    --color-megasena: #01ac66;
    --color-lotofacil: #7f3992;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

header {
    display: flex;
    background-color:var(--color-primary);
    margin: auto;
}

.header {
    display: flex;
    max-width: 1140px;
}

.header img {
    margin-left: 20px;
    width: 56px;
    height: auto;
}

.menu {
    align-items: center;
    display: flex;
}

.menu-content {
    padding: 0.6rem;
    gap: 20px;
}

.menu__link{
    font-size: 1.3rem;
    font-weight:500;
    color: var(--color-font-menu);
    text-decoration: none;
    
}

.menu__link:hover{
    color: var(--color-font-hover);
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1140px;
    margin: auto;
    align-items: center;
}
.banner {
    flex: 1;
    
}

.banner img {
    margin-top: 20px;
    max-width: 100%;
}

.titulo {
    flex: 1;
    margin: auto;
    
}

.titulo h1 {
    font-size: 40px;
    text-align: center;
}

.sortear {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sortear p{
    margin-top:30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    
}

.sortear button {
    font-size: 30px;
    margin-top: 50px;
    padding: 5px 20px;
    background-color: var(--color-primary);
    color: #fff;
    border: 2px solid var(--color-secundary);
    cursor: pointer;
    border-radius: 5px;
}

.sortear button:hover {
    background-color: var(--color-secundary);
    border: 2px solid var(--color-primary);
}

.resultado--area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: var(--color-resultado);
    border-radius: 5px;
    margin-bottom: 30px;
}

.textoresultado {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    /* border: 2px solid var(--color-primary); */
}

.resultado {
    display: flex;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    
}

.resultadoMega div {
    width: 30px;
    height: 30px;
    background-color: var(--color-megasena);
    color: var(--color-font-menu);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
}

.resultadoLotofacil div {
    width: 30px;
    height: 30px;
    background-color: var(--color-lotofacil);
    color: var(--color-font-menu);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 4px;
    font-weight: bold;
}

.numberLotofacil {
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Faz cada div ser um círculo */
    background-color: var(--color-lotofacil);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 4px;
    font-weight: bold;
  /*   border: 2px solid var(--color-primary); Adiciona uma borda */
}

.numberMega {
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Faz cada div ser um círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
  /*   border: 2px solid var(--color-primary); Adiciona uma borda */
}
/*
.anuncio {
   max-width: 1140px;
   margin: auto;
}
.anuncio img {
    max-width: 100%;
}
*/

footer {
    /*margin-top: -4px; */
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color-primary);
    color: #fff;
    padding: 1.2em 0;
    text-align: center;
}

@media (max-width: 791px) {
    .resultado{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 690px) {
    header {
        justify-content: space-between;
    }
    .hamburger {
        margin-right: 1em;
        display: block; /* Mostra o botão do menu hambúrguer */
    }

    .menu-content {
        display: none; /* Esconde os links do menu */
        flex-direction: column; /* Organiza os links do menu em uma coluna */
    }

    .menu-content.open {
        top: 100%;
        display: flex;
    }
    

}

/* Estilos para telas com largura maior que 600px */
@media (min-width: 690px) {
    .hamburger {
        display: none; /* Esconde o botão do menu hambúrguer */
    }

    .menu-content {
        display: flex; /* Mostra os links do menu */
    }

   
}